/**
 * Base styles.
 */
body {
	background-color: #F0EEE1;
	color: #222;
	font-size: 16px;
	padding-bottom: 20px;
	padding-top: 50px;
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 3em;
	margin: 0 0 40px;
}
h2 {
	font-size: 2.5em;
	margin: 20px 0;
}
h3 {
	font-size: 2em;
	margin: 15px 0;
}
#main {
	margin-top: 20px;
}

/**
 * Header.
 */
.navbar {
	background-color: #826258;
	border: none;
}
.navbar-brand {
	margin: 0 !important;
	padding: 8px 0;
}
.navbar-nav>li {
	background-color: #824D3D;
	color: #FFF;
	cursor: pointer;
	line-height: 50px;
	padding: 0 10px;
}
.navbar-nav>li:hover {
	background-color: #E87714;
}

/**
 * Index page.
 */
.product--on-sale {
	width: 33.333%;
	display: inline-block;
	padding: 20px;
}

/**
 * Product list
 */
.product-link {
	background: #FFF;
	color: #222;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}
.product-link:hover,
.product-link.active {
	color: #E87714;
	text-decoration: none;
}

/**
 * Product detail
 */
.product-onsale {
	margin-bottom: 20px;
	margin-top: 20px;
}
.product-details {
	margin-bottom: 40px;
	margin-top: 40px;
}
.product-details__heading {
	margin-top: 0;
}
